.container1{
    display: flex;
    flex-wrap: nowrap;
    background-color: #444444;
    height: 200px;

    /*You can also use 'column-reverse' for 'flex-direction' attribute to reverse the order of how the elements are displayed*/
    /*
    flex-direction: column;
    width: 110px;
    */

    justify-content: flex-start;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-around;

    align-items: flex-start;
    align-items: flex-end;
    align-items: center
}

.container1 div{
    color: white;
    height: 100px;
    width: 100px;
    background-color: #999999;
    text-align:center;
    line-height:100px;
    font-size:50px;
    margin:5px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    background-color: #444444;
    height: 400px;

    /* To align something in the middle both horizontally and vertically, use a flexbox with the two properties: 'justify-content' and 'align-items' both set to 'center' */
    justify-content: center;
    align-items:center;
}

.container2 div{
    color: white;
    height: 100px;
    width: 100px;
    background-color: #999999;
    text-align:center;
    line-height:100px;
    font-size:50px;
    margin:5px;
}